<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="postData()">Add User</ion-button>
  <ion-button
    expand="block"
    (click)="putData()"
    color="warning"
    [disabled]="isDisabled"
    >Save</ion-button
  >
  @if(message){
  <ion-alert
    [message]="message.message"
    [isOpen]="isOpen"
    [buttons]="['Ok']"
    (didDismiss)="close()"
  ></ion-alert>
  }

  <ion-card>
    <ion-card-header>
      <ion-card-title>List</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        @for (item of list; track $index) {
        <ion-item>
          ({{item.id}}): {{item.name}} - {{item.email}}

          <ion-button slot="end" color="medium" (click)="editData(item)"
            >Select</ion-button
          >
          <ion-button slot="end" color="danger" (click)="deleteData(item.id)"
            >Delete</ion-button
          >
        </ion-item>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
